{% extends 'base.html.twig' %}

{% block title %}Qui suis-je ?{% endblock %}

{% block body %}
<script>
  AOS.init();
</script>
<h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Qui suis-je ?</h1>
<div class="container">
    <div class="col-md-12" style= "text-align: center; margin-top: 50px; margin-bottom: 50px;">
        <h3>Une Coach au cœur du jeu</h3>
        <p>Flavie Carette, c'est moi ! Coach professionnelle, joueuse et arbitre de football, je jongle avec les défis du sport collectif et les subtilités de l'intelligence émotionnelle pour guider les leaders, que ce soit dans le monde de l'entreprise ou sur le terrain, à œuvrer à un projet inédit et humain. Tout au long de ma vie, j'ai été confronté à des émotions intenses, parfois même débordantes, que je le souhaitais ou non. Ce n'est que récemment que j'ai réalisé à quel point elles ont été mon moteur, alimentant ma passion et mes choix. Et si, elles l’étaient pour vous ?</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-5" data-aos="fade-down-right">
                    <h3 style="margin-top: 50px;">Flavie Carette</h3>
                    <p style="text-align: justify;">Bonjour je m’appelle Flavie et j’utilise mon expérience<br>
                    de footballeuse de haut niveau et mon optimisme<br>
                    pour accompagner les chefs de projets et entraîneurs,<br>
                    à œuvrer à un projet inédit et humain, en osant affronter<br>
                    les conflits et les émotions de leur équipe.</p>
                </div>
                <div class="col-md-5" data-aos="fade-down-left">
                    <img src="{{ asset('asset/img/flavie.jpg') }}" alt="flavie" style="max-width: 75%; height: auto; border-radius: 50px; box-shadow: rgba(0, 0, 0, 1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 75px;">
                <div class="col-md-5" data-aos="fade-down-right">
                    <img src="{{ asset('asset/img/flavie.jpg') }}" alt="flavie" style="max-width: 75%; height: auto; border-radius: 50px; box-shadow: rgba(0, 0, 0, 1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
                </div>
                <div class="col-md-5" data-aos="fade-down-left">
                    <h3 style="margin-top: 50px; text-align: center;">Mon aventure</h3>
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque dapibus varius eros, ut eleifend ipsum imperdiet id. Nam mattis est at semper convallis.</p>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 75px;">
                <div class="col-md-5" data-aos="fade-down-right">
                    <h3 style="margin-top: 50px; text-align: center;">Ce que je fais</h3>
                   <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque dapibus varius eros, ut eleifend ipsum imperdiet id. Nam mattis est at semper convallis.</p>
                </div>
                <div class="col-md-5" data-aos="fade-down-left">
                    <img src="{{ asset('asset/img/flavie.jpg') }}" alt="flavie" style="max-width: 75%; height: auto; border-radius: 50px; box-shadow: rgba(0, 0, 0, 1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 75px;">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3"> 
                            <div class="card" style="background-color:#ee9d8b; border-radius: 50px; height:450px">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <img src="{{ asset('asset/img/optimisme.png') }}" style="max-width: 50%; margin-top: 20px; margin-bottom: 20px;" class="card-img-top" alt="Image 1">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text">Je suis là pour vous guider avec une approche orientée solutions, toujours prête à trouver le chemin vers la lumière même dans les moments les plus sombres.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color:#ee9d8b; border-radius: 50px;height:450px">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <img src="{{ asset('asset/img/humanité.png') }}" style="max-width: 50%; margin-top: 20px; margin-bottom: 20px;" class="card-img-top" alt="Image 2">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text">Mon écoute est bienveillante et sans jugement, vous permettant de vous sentir pleinement compris et soutenu dans votre cheminement. Être dans l’alliance c’est être présent ici et maintenant, sans aucun projet, ni solution ou savoir pour l’autre.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color:#ee9d8b; border-radius: 50px; height:450px">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <img src="{{ asset('asset/img/intégrité.png') }}" style="max-width: 50%; margin-top: 20px; margin-bottom: 20px;" class="card-img-top" alt="Image 3">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text">Je crois en la puissance de l'intégrité, et je m'engage à travailler sur moi-même pour être toujours à la hauteur des défis que vous m'apportez. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color:#ee9d8b; border-radius: 50px; height:450px">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <img src="{{ asset('asset/img/outil.png') }}" style="max-width: 50%; margin-top: 20px; margin-bottom: 20px;" class="card-img-top" alt="Image 4">
                                </div>
                                <div class="card-body text-center">
                                    <p class="card-text">Avec une méthode ludique et systémique, qui relie le corps et l'esprit, nous explorerons les énergies pour vous aider à retrouver le chemin de la victoire. </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 75px;"></div>
{% endblock %}
