{% extends 'base.html.twig' %}
{% block head %}
<meta name="description" content="Accédez à votre espace client pour gérer vos séances de coaching, consulter vos formations et suivre vos progrès.">
<meta name="keywords" content="connexion, espace client, gestion de séances, suivi de progrès, coaching en ligne">
<meta name="author" content=" Flavie Carette de Sensations Coaching ">
{% endblock %}

{% block title %}Connexion - Sensations Coaching{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4" style="color:#1c618d; font-family: Abril Fatface">Connexion</h2>
                    

                    {% if error %}
                        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form method="post" action="{{ path('app_login') }}">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Mot de passe :</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="d-grid">
                            <button class="btn btn-lg" style="background-color:#1c618d;color:white;" type="submit">Connexion</button><br>
                            <p> Pas encore de compte : </p>
                            <a class="nav-link active" style="text-align:center" aria-current="page" href="{{path('app_inscription')}}"><b>Inscrivez-vous</b></a>
                            <p> Mot de passe oublié </p>
                             <a class="nav-link active" style="text-align:center" aria-current="page" href="{{path('app_reset_password')}}">Mot de passe oublié</a>
                        </div>
                    </form>
                    
                </div>
            </div>
          
        </div>
        <div style="margin-bottom: 45px;"></div>
    </div>
</div>
{% endblock %}
