{% extends 'base.html.twig' %}
{% block head %}
<meta name="description" content="Explorez mes articles sur le coaching professionnel, l’intelligence émotionnelle, le coaching mental, et la performance en équipe. Des conseils pratiques pour votre quotidien.">
<meta name="keywords" content="articles, développement personnel, coaching, performance, conseils, astuces, ebook, coaching d’équipe, séminaire, teambuilding">
<meta name="author" content=" Flavie Carette de Sensations Coaching ">
{% endblock %}

{% block title %}Résumés des Articles- Sensations Coaching{% endblock %}

{% block body %}
<div class="hautdepagecoachingdequipe">
  <div class="backgroundcoachingdequipe">
    <img src="{{ asset('asset/img/backgroundmontagne.png') }}" alt="Un fond représenté par des montagnes">
  </div>
  <div class="backgroundcoachingdequipe01">
    <img src="{{ asset('asset/img/ordipersonnetravaillantpa.png') }}" alt="Des personnes faisant une activité ensemble">
  </div>
  <div class="backgroundcoachingdequipe02">
    <h1 style="font-size: 65px; text-align: right;">Mes articles</h1>
    <p style="font-size:35px">Découvrez des conseils, des stratégies<br> et des insights pour booster<br> votre carrière.</p>
  </div>
</div>

<div class="container">
    <div class="mb-3">
        {% for tag in tags %}
            <a href="{{ path('app_resumer_article', { tag: tag.TagArticle }) }}"
               class="btn btn-primary mr-2 mb-2 {% if tag.TagArticle == selectedTag %}active{% endif %}">
                {{ tag.TagArticle }}
            </a>
        {% endfor %}
    </div>

   
        <div class="col-md-10">
            {% if resumes is empty %}
                <p>Aucun article trouvé pour ce tag.</p>
            {% else %}
                {% for resume in resumes %}
                 
                    <div>
                      <p>{{ resume.date|date('d-m-Y') }}</p>
                      <h5>{{ resume.titre }}</h5> 
                      <img src="/uploads/image/{{ resume.image }}" alt="Image de l'article" style="width:100%;">
                      <h6 class="card-subtitle mb-2 text-muted text-center">{{ resume.sousTitre }}</h6>
                      <p>{{ resume.resumer }}</p>
                    </div>
                    <a href="{{ path('app_mon_article', {id: resume.id}) }}" class="btn btn-primary">Voir l'article complet</a>
                  </div>
              </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
