{% extends 'base.html.twig' %}

{% block title %}Historique de vos commandes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Historique de vos commandes</h1>
        {% if commandeDetailsGroupedByCommande is empty %}
            <p>Il n'y a pas de commandes. Vous pouvez consulter nos formations <a style="color: black; text-decoration: none;" href="{{ path('app_vente_deformations') }}" onmouseover="this.style.color='#e34121'" onmouseout="this.style.color='black'">ici</a>.</p>
        {% else %}
            {% for commandeId, details in commandeDetailsGroupedByCommande %}
                {% set commande = details[0].commande %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Référence</th>
                                <th>Formation commandée</th>
                                <th>Date de création</th> 
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ commande.Reference }}</td>
                                <td>
                                    {% for detail in details %}
                                        {{ detail.formation.titreDeLaFormation }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ commande.DateDeCreationCommande|date('d-m-Y') }}</td>
                                <td>
                                    <a href="{{ path('app_telecharger_facture', {'commandeId': commande.id}) }}" class="btn btn-primary">Télécharger la facture</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
