{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ app.user.prenom }}{% endblock %}

{% block body %}
 <h1 style="font-size:35px; margin-left:15rem; margin-bottom:1rem; margin-top:6rem;">Vos informations personnelles</h1>
<p style="margin-left:15rem"> Votre prénom : {{ app.user.prenom }} </p>
<p style="margin-left:15rem">Votre nom : {{ app.user.nom }} </p>
<p style="margin-left:15rem"> Votre numéro de téléphone : 0{{app.user.NumeroDeTelephone}}</p>

{% if app.user.adresses is not empty %}
  <p style="margin-left:15rem"> Votre adresse :
   
        {% for adresse in app.user.adresses %}
            {{ adresse.adresseComplete }}, {{ adresse.ville }}, {{ adresse.codePostale }}, {{ adresse.pays }}</p>
        {% endfor %}
   
{% else %}
    <p>Vous n'avez pas encore renseigné d'adresse.</p>
{% endif %}
 <div style="margin-bottom:200px"></div>
{% endblock %}
