{% extends 'base.html.twig' %}
{% block title %}Sensation-Accueil{% endblock %}
{% block body %}

<script>
  AOS.init();
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div>
        <img src="{{ asset('asset/img/vaguebleuetrouge.png') }}" alt="vague bleu et rouge" style="height: 400px; margin-left:-250px; transform: rotate(180deg);">
        <h1 style="color: #f1902f; font-family: 'Abril Fatface', cursive; text-align: center; font-size: 55px;">Cultivez un <br> état d’esprit <br> positif & engageant !</h1>
      </div>
    </div>
    <div class="col">
      <div class="row padding-to" style="padding-top: 50px;">
        <div class="col-sm-5 offset-md-4 col-md-3 mb-3">
          <div class="card-flip eveiller" style="position: relative; margin-left: -250px;">
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; bottom: 0; right: 25px; margin-bottom: 25px;">Éveiller</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">La balle est dans votre camp !</h5><br>
              <p>En conscientisant votre émotionnel et votre mode de fonctionnement, intégrez le changement désiré vers une croissance personnelle et professionnelle. </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 mb-3">
          <div class="card-flip booster style=" style="position: relative; margin-left: -150px;">
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; bottom: 0; left: 25px; margin-bottom: 25px;">Booster</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">Allez droit au but !</h5><br>
              <p>Passez à l'action pour progresser avec confiance et détermination vers vos objectifs.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-5 offset-md-4 col-md-3 mb-3"> <!-- Ajustement de la marge gauche -->
          <div class="card-flip inspirer" style="position: relative; margin-left: -250px;"> <!-- Ajustement de la marge gauche -->
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; top: 25px; right: 25px; margin-right: 10px; margin-top: 10px;">Inspirer</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">Vous êtes le capitaine de votre propre vie !</h5>
              <p>Ouvrez votre vision sur vous-même et sur l’extérieur, dépassez vos croyances limitantes et reconnectez-vous à vos talents innés pour sortir des situations difficiles de manière sereine.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 mb-3">
          <div class="card-flip orchestrer" style="position: relative; margin-left: -150px;">
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; top: 25px; left: 25px; margin-right: 10px; margin-top: 10px;">Orchestrer</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">Osez perdre la balle</h5>
              <p>Créez un environnement où vous pouvez exprimer vos doutes et vos frustrations en toute confiance. C'est dans cet espace de vulnérabilité que se trouvent les véritables connexions et les idées novatrices.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height: 200px;"></div>


<div class="grid-container">
        <div class="centered-content">
            <div class="text-container">
                <h1 style="margin-top: -30px;">Mes accompagnements</h1>
                <p class="shift-right">Et si les émotions ne restaient pas au vestiaire ?</p>
            </div>
            <div class="image-container">
                <img  src="{{ asset('asset/img/petitpoint.png') }}" alt="Petit point jaune">
            </div>
</div>
<div style="height:500px;"></div>

<div class="centered-content">
    <div class="row justify-content-center">
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/puzzlebleu.png') }}" alt="Plusieurs mains tenant des pièces d'échecs" style="width: 250px; border-radius: 25px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Coaching d’équipe en entreprise</p>
        </div>
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/mainorange.png') }}" alt="Petit point jaune" style="width: 250px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Coaching individuel</p>
        </div>
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/FlavieOrange.png') }}" alt="Petit point jaune" style="width: 250px; border-radius: 25px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white;">Coaching de sportifs de haut-niveau</p>
        </div>
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/FlavieTravailBleu.png') }}" alt="Petit point jaune" style="width: 250px; border-radius: 25px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Formations</p>
        </div>
    </div>
</div>
</div>
<div class="boucleRouge">
 <img src="{{ asset('asset/img/bouclerouge.png') }}">
 <p>Vous êtes dans l’une de <br> 
ces situations ...</p>
</div>
<div class="CSPA">
    <h3> Chef de projet, manager ...</h3>
    <h3> Sportif, arbitre entraîneur ...</h3>
</div>

<div class="problems">
    <div class="problem-item">
        <img src="{{ asset('asset/img/pointbleu.png') }}" alt="Point bleu foncé">
        <p>Vous jonglez avec le <b>manque de<br> temps,</b> tout en luttant contre vos<br> propres réactions, votre <b>lucidité</b> se<br> fragilise ?</p>
    </div>
    <div class="problem-item">
        <img src="{{ asset('asset/img/pointorange.png') }}" alt="Point dans les tons jaune et orange">
        <p>Vous vous sentez dans la <b>confusion</b><br> face au manque de solidarité et de<br> <b>coopération</b> dans votre équipe ?</p>
    </div>
    <div class="problem-item">
        <img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
        <p>Votre projet stagne, vous ressentez de<br> <b>l’agacement</b> face au manque de <b>prise<br> d’initiatives</b> de vos collaborateurs et à<br> la perspective de l'échec de votre<br> projet ?</p>
    </div>
    <div class="problem-item">
        <img src="{{ asset('asset/img/pointbleuclair.png') }}" alt="Point bleu clair">
        <p>Vous êtes minés par les tensions et les<br> <b>doutes</b> au sein de votre équipe, vous<br> craignez de ne pas <b>être à la hauteur ?</b></p>
    </div>
    <div class="problem-item">
        <img src="{{ asset('asset/img/pointorange.png') }}" alt="Point bleu">
        <p>Les départs réguliers ne font<br> qu'accentuer votre sentiment de<br> <b>fatigue,</b> vous laissant avec un manque<br> cruel d'énergie et de <b>vitalité ?</b></p>
    </div>
    <div class="problems02">
    <img src="{{ asset('asset/img/pointbleuclair.png') }}" alt="Point bleu clair">
    <p>Vous vous sentez frustré après une défaite malgré tous vos entraînements, vous doutez de votre propre réussite ?</p>
    <img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
    <p>La pression avant une compétition importante vous envahit, plus moyen de retrouver votre sérénité ?</p>
    <img src="{{ asset('asset/img/pointorange.png') }}" alt="Point dans les tons jaune et orange">
    <p>Vous craignez ne pas être à la hauteur des attentes extérieures, vous avez l’impression que votre performance stagne ?</p>
    <img src="{{ asset('asset/img/pointbleu.png') }}" alt="Point bleu foncé">
    <p>Vous faites face à un choix de carrière, vous n’êtes plus certain de rien ?</p>
    <img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
    <p>Blessé, en manque d’énergie et parfois seul, vous avez peur de ne pas retrouver votre meilleur niveau ?</p>
    </div>
</div>


{% endblock %}
