{% extends 'base.html.twig' %}
{% block title %}Sensation-Accueil{% endblock %}
{% block body %}
<script>
  AOS.init();
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div>
        <img src="{{ asset('asset/img/vaguebleuetrouge.png') }}" alt="vague bleu et rouge" style="height: 400px; margin-left:-250px; transform: rotate(180deg);">
        <h1 style="color: #f1902f; font-family: 'Abril Fatface', cursive; text-align: center; font-size: 55px;">Cultivez un <br> état d’esprit <br> positif & engageant !</h1>
      </div>
    </div>
    <div class="col">
      <div class="row padding-to" style="padding-top: 50px;">
        <div class="col-sm-5 offset-md-4 col-md-3 mb-3">
          <div class="card-flip eveiller" style="position: relative; margin-left: -250px;">
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; bottom: 0; right: 25px; margin-bottom: 25px;">Éveiller</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">La balle est dans votre camp !</h5><br>
              <p>En conscientisant votre émotionnel et votre mode de fonctionnement, intégrez le changement désiré vers une croissance personnelle et professionnelle. </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 mb-3">
          <div class="card-flip booster style=" style="position: relative; margin-left: -150px;">
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; bottom: 0; left: 25px; margin-bottom: 25px;">Booster</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">Allez droit au but !</h5><br>
              <p>Passez à l'action pour progresser avec confiance et détermination vers vos objectifs.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-5 offset-md-4 col-md-3 mb-3"> 
          <div class="card-flip inspirer" style="position: relative; margin-left: -250px;"> <!-- Ajustement de la marge gauche -->
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; top: 25px; right: 25px; margin-right: 10px; margin-top: 10px;">Inspirer</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">Vous êtes le capitaine de votre propre vie !</h5>
              <p>Ouvrez votre vision sur vous-même et sur l’extérieur, dépassez vos croyances limitantes et reconnectez-vous à vos talents innés pour sortir des situations difficiles de manière sereine.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 mb-3">
          <div class="card-flip orchestrer" style="position: relative; margin-left: -150px;">
            <div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
              <h2 class="card-title text-center" style="position: absolute; top: 25px; left: 25px; margin-right: 10px; margin-top: 10px;">Orchestrer</h2>
            </div>
            <div class="card-face card-back">
              <h5 class="center-text">Osez perdre la balle</h5>
              <p>Créez un environnement où vous pouvez exprimer vos doutes et vos frustrations en toute confiance. C'est dans cet espace de vulnérabilité que se trouvent les véritables connexions et les idées novatrices.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height: 200px;"></div>


<div class="grid-container">
        <div class="centered-content">
            <div class="text-container">
                <h1 style="margin-top: -30px; margin-left:-50px">Mes accompagnements</h1>
                <p class="shift-right">Et si les émotions ne restaient pas au vestiaire ?</p>
            </div>
            <div class="image-container">
                <img  src="{{ asset('asset/img/petitpoint.png') }}" alt="Petit point jaune">
            </div>
</div>
<div style="height:500px;"></div>

<div class="centered-content">
    <div class="row justify-content-center">
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/puzzlebleu.png') }}" alt="Plusieurs mains tenant des pièces d'échecs" style="width: 250px; border-radius: 25px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Coaching d’équipe en entreprise</p>
        </div>
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/mainorange.png') }}" alt="Petit point jaune" style="width: 250px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Coaching individuel</p>
        </div>
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/FlavieOrange.png') }}" alt="Petit point jaune" style="width: 250px; border-radius: 25px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white;">Coaching de sportifs de haut-niveau</p>
        </div>
        <div class="col-md-3" style="position: relative; text-align: center; margin-bottom: 20px;">
            <img src="{{ asset('asset/img/FlavieTravailBleu.png') }}" alt="Petit point jaune" style="width: 250px; border-radius: 25px;">
            <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Formations</p>
        </div>
    </div>
</div>
</div>
<div class="boucleRouge">
 <img src="{{ asset('asset/img/bouclerouge.png') }}">
 <p>Vous êtes dans l’une de <br> 
ces situations ...</p>
</div>
<div class="CSPA">
    <div class="left-section">
        <h3> Chef de projet, manager ...</h3>
        <div class="problems">
            <div class="problem-item">
                <img src="{{ asset('asset/img/pointbleu.png') }}" alt="Point bleu foncé">
                <p>Vous jonglez avec le <b>manque de<br> temps,</b> tout en luttant contre vos<br> propres réactions, votre <b>lucidité</b> se<br> fragilise ?</p>
            </div>
            <div class="problem-item">
                <img src="{{ asset('asset/img/pointorange.png') }}" alt="Point dans les tons jaune et orange">
                <p>Vous vous sentez dans la <b>confusion</b><br> face au manque de solidarité et de<br> <b>coopération</b> dans votre équipe ?</p>
            </div>
            <div class="problem-item">
                <img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
                <p>Votre projet stagne, vous ressentez de<br> <b>l’agacement</b> face au manque de <b>prise<br> d’initiatives</b> de vos collaborateurs et à<br> la perspective de l'échec de votre<br> projet ?</p>
            </div>
            <div class="problem-item">
                <img src="{{ asset('asset/img/pointbleuclair.png') }}" alt="Point bleu clair">
                <p>Vous êtes minés par les tensions et les<br> <b>doutes</b> au sein de votre équipe, vous<br> craignez de ne pas <b>être à la hauteur ?</b></p>
            </div>
            <div class="problem-item">
                <img src="{{ asset('asset/img/pointorange.png') }}" alt="Point bleu">
                <p>Les départs réguliers ne font<br> qu'accentuer votre sentiment de<br> <b>fatigue,</b> vous laissant avec un manque<br> cruel d'énergie et de <b>vitalité ?</b></p>
            </div>
        </div>
    </div>
    <div class="right-section">
    <h3> Sportif, arbitre entraîneur ...</h3>
    <div class="problems02">
        <div class="problem02-item">
            <img src="{{ asset('asset/img/pointbleuclair.png') }}" alt="Point bleu clair">
            <p>Vous vous sentez <b> frustré </b> après une<br> défaite malgré tous vos<br> entraînements, vous doutez de votre <br> propre réussite ?</p>
        </div>
        <div class="problem02-item">
            <img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
            <p>La <b> pression</b> avant une compétition <br> importante vous envahit, plus moyen <br> de retrouver votre <b> sérénité </b> ?</p>
        </div>
        <div class="problem02-item">
            <img src="{{ asset('asset/img/pointorange.png') }}" alt="Point dans les tons jaune et orange">
            <p>Vous craignez ne pas être à la <br> hauteur des <b> attentes extérieures,</b><br> vous avez l’impression que votre <br><b> performance </b> stagne ?</p>
        </div>
        <div class="problem02-item">
            <img src="{{ asset('asset/img/pointbleu.png') }}" alt="Point bleu foncé">
            <p>Vous faites face à un <b> choix de <br> carrière,</b> vous n’êtes plus <b>certain</b> de <br> rien ?</p>
        </div>
        <div class="problem02-item">
            <img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
            <p><b> Blessé,</b> en manque d’énergie et <br> parfois seul, vous avez peur de ne <br> pas retrouver votre <b> meilleur niveau </b> ?</p>
        </div>
    </div>
</div>
</div>
<div style="height:250px;"></div>

<div class="pied">
  <div class="piedimage">
    <img src="{{ asset('asset/img/pied.png') }}" alt="Une image qui fait penser à un pied">
  </div>
  <h3> Et vous souhaitez ... </h3>
  <div class="imagetorsader">
    <img src="{{asset('asset/img/flechetorsader.png')}}" alt="Une flêche rouge avec une torsade">
  </div>
  <div data-aos="fade-right"> 
 <div class="couronne">
  <img src="{{asset('asset/img/couronne.png')}}" alt="Une couronne" class="couronne-img">
  <p>Devenir le champion serein que vous êtes destiné à être en domptant vos peurs et en surmontant les doutes.</p>
</div>
 </div>
  <div data-aos="fade-left">
  <div class="etoile">
    <img src="{{asset('asset/img/etoile.png')}}" alt="Des étoiles bleu" class="etoile-img">
    <p>Retrouver la passion et le plaisir dans votre pratique,votre source de motivation inépuisable.</p>
    </div>
  </div>
    <div data-aos="fade-right">
<div class="eclair">
<img src="{{asset('asset/img/eclair.png')}}" alt="Un eclair de couleur jaune et orange" class="eclair-img">
<p> Oser suivre votre intuition pour surpasser vos limites et réaliser vos propres rêves.</p>
</div>
 <div data-aos="fade-left">
 <div class="diamant">
 <img src="{{asset('asset/img/diamant.png')}}" alt="Un diamant de couleur jaune" class="diamant-img">
 <p>Redevenir le capitaine confiant de votre monde intérieur pour une nouvelle liberté de choix équilibré et en conscience.</p>
 </div>
 </div>
<div data-aos="fade-right">
<div class="pointetoile">
<img src="{{asset('asset/img/pointetoile.png')}}" alt="Un eclair de couleur jaune et orange" class="pointetoile-img">
<p> Forger une mentalité de gagnant et apprendre à rebondir après l'échec en transformant chaque défi en opportunités de victoire.</p>
</div>
<div data-aos="fade-left">
<div class="cible">
<img src="{{asset('asset/img/cible.png')}}" alt="Un eclair de couleur jaune et orange" class="cible-img">
<p>Maximiser votre énergie vitale et garder le cap sur vos objectifs, même dans les situations les plus critiques.</p>
</div>
</div>
</div>
</div>

<div class="rdv">
    <h2>Alors prêt à vous propulser vers <br> l’excellence ?</h2>
    <a href="{{ path('app_contact') }}"><button class="text-align">Je réserve mon rdv offert</button></a>
      <div class="tacheorange">
      <img src="{{asset('asset/img/tacheorange.png')}}" alt="Une tache orange">
      </div>
      </div>
      </div>
      <div class="flcquisuisje">
<img src="{{asset('asset/img/backgroundmontagne.png')}}" alt="Un fond représentré par des montagnes">
</div>
<div class="flcphoto">
<img src="{{asset('asset/img/flaviedoigt.png')}}" alt="Flavie Carette coaching">
<p> Je suis Flavie Carette, coach professionnelle certifiée, ancienne joueuse de haut-niveau et arbitre de football, j’utilise mon expertise du sport collectif et mon intelligence émotionnelle pour accompagner les leaders en entreprise et dans le sport à œuvrer à un projet inédit et humain.</p>
 <a href="{{ path('app_qui_suis_je') }}"><button class="text-align">En savoir +</button></a>
</div>
<div class="bulle">
 <h3> Ils témoignent ...</h3>
 <img src="{{asset('asset/img/bulle.png')}}" alt="Flavie Carette coaching">
 <p> Je me suis très bien senti dans la relation. J’ai apprécié cet espace de bienveillance, de non-jugement et d’écoute. Je me sens plus confiant pour l’avenir et plus sécurisé dans ma capacité à gérer mon stress ou un potentiel problème relationnel. Les séances m’ont permis d’en apprendre davantage au sujet de mon fonctionnement, de ma gestion des émotions. Merci beaucoup Flavie pour votre temps, et votre aide. Au plaisir de vous revoir
prochainement. - Vincent</p>
</div>
 <img src="{{'asset/img/rondbleu.png'}}" alt="Un rond bleu avec des lignes à l'intérieur" class="ronblounet">
   <div class="imagetorsader01">
    <img src="{{asset('asset/img/flechetorsader.png')}}" alt="Une flêche rouge avec une torsade">
    <p> Commencez votre transformation maintenant</p>
     <a href="{{ path('app_contact') }}"><button class="text-align">1er rendez-vous gratuit !</button></a>
  </div>
  <div style="height:250px;"></div>
 </div>
</div>
{% endblock %}
