{% extends 'base.html.twig' %}

{% block head %}
	<meta name="description" content="Découvrez nos services de coaching collectif et individuel, nos formations pour entreprises et sportifs de haut niveau. Boostez votre performance avec Sensations Coaching.">
	<meta name="keywords" content="coaching, préparation mentale, coaching sportif, formation entreprise, développement personnel, performance, séminaire, intelligence émotionnelle, gestion du stress, gestion des émotions, teambuilding">
{% endblock %}


{% block modal %}
	<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="">
						<h1 class="modal-title" id="popupModalLabel" style="font-size:20px;text-align:center">Rejoignez notre communauté de champions</h1>
					</div>

				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<p class="quicksand-font">Recevez des conseils exclusifs, des stratégies éprouvées et des inspirations directement dans votre boîte de réception. Que vous soyez un leader en entreprise ou un sportif de haut niveau, notre newsletter est conçue pour vous aider à oser le plaisir de votre excellence.</p>
						</div>
						<div class="col-md-12">
							{{ form_start(form) }}
							{{ form_row(form.emailpournewletter) }}
							{{ form_row(form.entreprise, {
                                    'label': 'Entreprises',
                                }) }}
							{{ form_row(form.sportifDeHautNiveau, {
                                    'label': 'Sportifs de haut-niveau',
                                }) }}
							{{ form_row(form._token) }}
							{{ form_row(form.submit) }}
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %} 


{% block javascripts %}
	{{ parent() }}

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

	<script>
document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
        $('#popupModal').modal('show');
    }, 40000);
});

	</script>

	<style>
		@media(max-width: 1651px) {
			.card-flip {
				display: none;
			}
			.imagetorsader01 img {
				display: none;
			}
			.text-container img 
			{
				display:none;
			}
			.bulle {
				display: none;
			}
			.ronblounet {
				display: none;
			}
			.main-title01 {
				margin-bottom: 25px;
				font-size: 35px;
				text-align: center;
			}
			.flcphoto {
				display: none;
			}
			.main-title02 {
				text-align: center;
				margin-right: 15rem;
			}
		}
		@media(max-width: 415px) {
			.row.text-center.justify-content-center {
				margin-top: 20px;
				margin-bottom: 20px;
				text-align: center;
			}
		}
		@media(max-width: 683px) {
			.col {
				flex-basis: 100%;
			}
		}
		@media(max-width: 420px) {
			.pied {
				display: none;
			}
			.col img {
				display: none;
			}
			.right-section h3 {
				margin-left: 100px;
				font-size: 15px;
			}
			.flcquisuisje img {
				display: none;
			}
		}

		@media(max-width: 1400px) {
					.image-container {
				display: none;
			}
			.text-container {
				text-align: center;
			}
			.boucleRouge img {
				display: none;
			}

			.boucleRouge p {
				position: static; 
				transform: none;
				margin-top: 25px;
			}
		}
		@media(max-width: 1600px) {
				.tacheorange {
				display: none;
			}
			.flcquisuisje 
			{
				display:none;
			}
			.CSPA {
				flex-direction: column; 
				align-items: center; 
				margin-bottom: 50px;
			}
			.image-container55
			{
				display:none;
			}
			.imagetorsader 
			{
				display:none;
			}
			.boucleRouge img 
			{
				display:none;
			}

		}
		@media(max-width: 1700px) {
			.col-md-6 {
				width: 100%;
			}
			h3 {
				margin-top: 50px
			}
			.couronne {
				margin-top: 75px
			}
		}
	
		@media(max-width: 1540px) {
		.rdv01 
		{
			display: none;
		}
		.tacheorange55
		{
			display:none;
		}
			.lestrucslide {
				margin: 75px auto auto;
			}
			.centered-content {
				padding-right: -50px;
				margin-left: -150px;
			}
		}
		@media(max-width: 1050px) {
			.left-section {
				text-align: center;
				margin-left: 0;
			}
		}

@media (max-width: 1599px) {
    .lestrucslide {
        opacity: 1 !important; 
        transform: none !important;
    }
}
	</style>
{% endblock %}

{% block title %}Accueil - Sensations Coaching
{% endblock %}

{% block body %}

	<script>
		 AOS.init({
    disable: function() {
    
    },


});

	</script>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div>
					<img src="{{ asset('asset/img/vaguebleuetrouge.png') }}" alt="vague bleu et rouge" style="height: 400px; margin-left:-250px; transform: rotate(180deg);">
					<h1 style="color: #f1902f; font-family: 'Abril Fatface', cursive; text-align: center; font-size: 55px;">Cultivez un
						<br>
						état d’esprit
						<br>
						positif & engageant !</h1>
				</div>
			</div>
			<div class="col">
				<div class="row padding-to" style="padding-top: 50px;">
					<div class="col-sm-5 offset-md-4 col-md-3 mb-3">
						<div class="card-flip eveiller" style="position: relative; margin-left: -250px;">
							<div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
								<h2 class="card-title text-center" style="position: absolute; bottom: 0; right: 25px; margin-bottom: 25px;">Éveiller</h2>
							</div>
							<div class="card-face card-back">
								<h5 class="center-text">La balle est dans votre camp !</h5><br>
								<p>En conscientisant votre émotionnel et votre mode de fonctionnement, intégrez le changement désiré vers une croissance personnelle et professionnelle.
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 mb-3">
						<div class="card-flip booster style=" style="position: relative; margin-left: -150px;">
							<div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
								<h2 class="card-title text-center" style="position: absolute; bottom: 0; left: 25px; margin-bottom: 25px;">Booster</h2>
							</div>
							<div class="card-face card-back">
								<h5 class="center-text">Allez droit au but !</h5><br>
								<p>Passez à l'action pour progresser avec confiance et détermination vers vos objectifs.</p>
							</div>
						</div>
					</div>

					<div class="col-sm-5 offset-md-4 col-md-3 mb-3">
						<div class="card-flip inspirer" style="position: relative; margin-left: -250px;">
							<div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
								<h2 class="card-title text-center" style="position: absolute; top: 25px; right: 25px; margin-right: 10px; margin-top: 10px;">Inspirer</h2>
							</div>
							<div class="card-face card-back">
								<h5 class="center-text">Vous êtes le capitaine de votre propre vie !</h5>
								<p>Ouvrez votre vision sur vous-même et sur l’extérieur, dépassez vos croyances limitantes et reconnectez-vous à vos talents innés pour sortir des situations difficiles de manière sereine.</p>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 mb-3">
						<div class="card-flip orchestrer" style="position: relative; margin-left: -150px;">
							<div class="card-face card-front d-flex flex-column justify-content-end" data-aos="flip-left">
								<h2 class="card-title text-center" style="position: absolute; top: 25px; left: 25px; margin-right: 10px; margin-top: 10px;">Orchestrer</h2>
							</div>
							<div class="card-face card-back">
								<h5 class="center-text">Osez perdre la balle</h5>
								<p>Créez un environnement où vous pouvez exprimer vos doutes et vos frustrations en toute confiance. C'est dans cet espace de vulnérabilité que se trouvent les véritables connexions et les idées novatrices.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="height: 200px;"></div>

	<div class="mesaccompagnements">
		<div class="centered-content">
			<div class="text-container">
				<h1>Mes accompagnements</h1>
				<p class="shift-right">Et si les émotions ne restaient pas au vestiaire ?</p>
		
		
				<img src="{{ asset('asset/img/petitpoint.png') }}" alt="Petit point jaune" style=" margin-left:1300px; width: 500px; margin-top: -150px;" >
			
			</div>
		</div>
	

		<div class="Ccarrer">
			<div class="row" id="grid-row">
				<div class="col-md-3 col-sm-6 mb-3" style="position: relative; text-align: center;">
					<a href="{{ path('app_coaching_collectif') }}" alt="Liens vers coaching collectif">
						<img src="{{ asset('asset/img/puzzlebleu.png') }}" alt="Plusieurs mains tenant des pièces d'échecs" style="width: 100%; max-width: 250px; border-radius: 25px;">
						<p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Coaching d’équipe en entreprise</p>
					</a>
				</div>

				<div class="col-md-3 col-sm-6 mb-3" style="position: relative; text-align: center;">
					<a href="{{ path('app_individuel') }}" alt="Liens vers coaching individuel">
						<img src="{{ asset('asset/img/mainorange.png') }}" alt="Petit point jaune" style="width: 100%; max-width: 250px; border-radius: 25px;">
						<p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Coaching individuel</p>
					</a>
				</div>

				<div id="boutoncliquable" class="col-md-3 col-sm-6 mb-3" style="position: relative; text-align: center;">
					<a href="{{ path('app_coaching_sportif') }}" alt="Liens vers coaching sportifs">
						<img src="{{ asset('asset/img/FlavieOrange.png') }}" alt="Petit point jaune" style="width: 100%; max-width: 250px; border-radius: 25px;">
						<p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Coaching de sportifs de haut-niveau</p>
					</a>
				</div>

				<div class="col-md-3 col-sm-6 mb-3" style="position: relative; text-align: center;">
					<a href="{{ path('app_vente_deformations') }}" alt="Liens vers vente de formations">
						<img src="{{ asset('asset/img/FlavieTravailBleu.png') }}" alt="Petit point jaune" style="width: 100%; max-width: 250px; border-radius: 25px;">
						<p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: white; margin: 0;">Formations</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="boucleRouge">
		<img src="{{ asset('asset/img/bouclerouge.png') }}" alt="Une boucle rouge">
		<p>Vous êtes dans l’une de
			<br>
			ces situations ...</p>
	</div>
	<div class="CSPA">
		<div class="left-section">
			<h3>
				Chef de projet, manager ...</h3>
			<div class="problems">
				<div class="problem-item">
					<img src="{{ asset('asset/img/pointbleu.png') }}" alt="Point bleu foncé">
					<p style="color:#172D4B; font-family:quicksand;">Vous jonglez avec le
						<b>manque de<br>
							temps,</b>
						tout en luttant contre vos<br>
						propres réactions, votre
						<b>lucidité</b>
						se<br>
						fragilise ?</p>
				</div>
				<div class="problem-item">
					<img src="{{ asset('asset/img/pointorange.png') }}" alt="Point dans les tons jaune et orange">
					<p style="color:#172D4B; font-family:quicksand;">Vous vous sentez dans la
						<b>confusion</b><br>
						face au manque de solidarité et de<br>
						<b>coopération</b>
						dans votre équipe ?</p>
				</div>
				<div class="problem-item">
					<img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
					<p style="color:#172D4B; font-family:quicksand;">Votre projet stagne, vous ressentez de<br>
						<b>l’agacement</b>
						face au manque de
						<b>prise<br>
							d’initiatives</b>
						de vos collaborateurs et à<br>
						la perspective de l'échec de votre<br>
						projet ?</p>
				</div>
				<div class="problem-item">
					<img src="{{ asset('asset/img/pointbleuclair.png') }}" alt="Point bleu clair">
					<p style="color:#172D4B; font-family:quicksand;">Vous êtes minés par les tensions et les<br>
						<b>doutes</b>
						au sein de votre équipe, vous<br>
						craignez de ne pas
						<b>être à la hauteur ?</b>
					</p>
				</div>
				<div class="problem-item">
					<img src="{{ asset('asset/img/pointorange.png') }}" alt="Point bleu">
					<p style="color:#172D4B; font-family:quicksand;">Les départs réguliers ne font<br>
						qu'accentuer votre sentiment de<br>
						<b>fatigue,</b>
						vous laissant avec un manque<br>
						cruel d'énergie et de
						<b>vitalité ?</b>
					</p>
				</div>
			</div>
		</div>
		<div class="right-section">
			<h3>
				Sportif, arbitre entraîneur ...</h3>
			<div class="problems02">
				<div class="problem02-item">
					<img src="{{ asset('asset/img/pointbleuclair.png') }}" alt="Point bleu clair">
					<p style="color:#172D4B; font-family:quicksand;">Vous vous sentez
						<b>
							frustré
						</b>
						après une<br>
						défaite malgré tous vos<br>
						entraînements, vous doutez de votre
						<br>
						propre réussite ?</p>
				</div>
				<div class="problem02-item">
					<img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
					<p style="color:#172D4B; font-family:quicksand;">La
						<b>
							pression</b>
						avant une compétition
						<br>
						importante vous envahit, plus moyen
						<br>
						de retrouver votre
						<b>
							sérénité
						</b>
						?</p>
				</div>
				<div class="problem02-item">
					<img src="{{ asset('asset/img/pointorange.png') }}" alt="Point dans les tons jaune et orange">
					<p style="color:#172D4B; font-family:quicksand;">Vous craignez ne pas être à la
						<br>
						hauteur des
						<b>
							attentes extérieures,</b><br>
						vous avez l’impression que votre
						<br><b>
							performance
						</b>
						stagne ?</p>
				</div>
				<div class="problem02-item">
					<img src="{{ asset('asset/img/pointbleu.png') }}" alt="Point bleu foncé">
					<p style="color:#172D4B; font-family:quicksand;">Vous faites face à un
						<b>
							choix de
							<br>
							carrière,</b>
						vous n’êtes plus
						<b>certain</b>
						de
						<br>
						rien ?</p>
				</div>
				<div class="problem02-item">
					<img src="{{ asset('asset/img/pointorangefoncer.png') }}" alt="Point orange foncé">
					<p style="color:#172D4B; font-family:quicksand;">
						<b>
							Blessé,</b>
						en manque d’énergie et
						<br>
						parfois seul, vous avez peur de ne
						<br>
						pas retrouver votre
						<b>
							meilleur niveau
						</b>
						?</p>
				</div>
			</div>
		</div>
	</div>
	<div style="height:350px;"></div>

	<div class="pied">
		<div  class="piedimage">
		<img src="{{asset('asset/img/pied055.png')}}" alt="Pied image bleu et des petits points rouges" style="width:200px; margin-top:-200px;">
		
		<h3 style="margin-top:-310px;">
			Et vous souhaitez ...
		</h3>
		
</div>
<div class="imagetorsader">
			<img src="{{asset('asset/img/flechetorsader.png')}}" alt="Une flêche rouge avec une torsade">
		</div>
		<div class=" row">

			<div class="lestrucslide couronne" data-aos="fade-right">
				<img src="{{asset('asset/img/couronne.png')}}" alt="Une couronne" class="couronne-img">
				<p>Devenir le champion serein que vous êtes destiné à être en domptant vos peurs et en surmontant les doutes.</p>
			</div>
			<div class="lestrucslide etoile" data-aos="fade-left">
				<img src="{{asset('asset/img/etoile.png')}}" alt="Des étoiles bleu" class="etoile-img">
				<p>Retrouver la passion et le plaisir dans votre pratique, votre source de motivation inépuisable.</p>
			</div>
		</div>
		<div class="lestrucslide eclair" data-aos="fade-right">
			<img src="{{asset('asset/img/eclair.png')}}" alt="Un eclair de couleur jaune et orange" class="eclair-img">
			<p>Oser suivre votre intuition pour surpasser vos limites et réaliser vos propres rêves.</p>
		</div>
		<div class="lestrucslide diamant" data-aos="fade-left">
			<img src="{{asset('asset/img/diamant.png')}}" alt="Un diamant de couleur jaune" class="diamant-img">
			<p>Redevenir le capitaine confiant de votre monde intérieur pour une nouvelle liberté de choix équilibré et en conscience.</p>
		</div>
		<div class="lestrucslide pointetoile" data-aos="fade-right">
			<img src="{{asset('asset/img/pointetoile.png')}}" alt="Un eclair de couleur jaune et orange" class="pointetoile-img">
			<p>Forger une mentalité de gagnant et apprendre à rebondir après l'échec en transformant chaque défi en opportunités de victoire.</p>
		</div>
		<div class="lestrucslide cible" data-aos="fade-left">
			<img src="{{asset('asset/img/cible.png')}}" alt="Un eclair de couleur jaune et orange" class="cible-img">
			<p>Maximiser votre énergie vitale et garder le cap sur vos objectifs, même dans les situations les plus critiques.</p>
		</div>
		<div class="rdv"  style="margin-top:200px;">
			<h2 style="color:#172D4B; font-family:quicksand;">
				<b>Alors prêt à vous propulser vers
					<br>
					l’excellence ?</b>
			</h2>
			<button class="text-align" href="{{ path('app_contact') }}">Je réserve mon rdv offert</button>
			<div class="tacheorange55"><img src="{{asset('asset/img/tacheorange.png')}}" alt="Une tache orange" style="width:300px; margin-left:1525px"></div>
		</div>
	</div>
	<div class="flcquisuisje" style="margin-top:-200px;">
		<img src="{{asset('asset/img/backgroundmontagne.png')}}" alt="Un fond représentré par des montagnes">
	</div>
	<div class="flcphoto">
		<img src="{{asset('asset/img/flaviedoigt.png')}}" alt="Flavie Carette coaching">
		<p style="color:#172D4B; font-family:quicksand;">
			Je suis Flavie Carette, coach professionnelle certifiée, ancienne joueuse de haut-niveau et arbitre de football. J’utilise mon expertise du sport collectif et mon intelligence émotionnelle pour accompagner les leaders en entreprise et dans le sport à œuvrer à un projet inédit et humain.</p>
		<a href="{{ path('app_qui_suis_je') }}" alt="Liens vers qui je suis">
			<button class="text-align">En savoir +</button>
		</a>
	</div>
	<div class="bulle">
		<h3>
			Ils témoignent ...</h3>
		<img src="{{asset('asset/img/bulle.png')}}" alt="Flavie Carette coaching">
		<p>
			Je me suis très bien senti dans la relation. J’ai apprécié cet espace de bienveillance, de non-jugement et d’écoute. Je me sens plus confiant pour l’avenir et plus sécurisé dans ma capacité à gérer mon stress ou un potentiel problème relationnel. Les séances m’ont permis d’en apprendre davantage au sujet de mon fonctionnement, de ma gestion des émotions. Merci beaucoup Flavie pour votre temps, et votre aide. Au plaisir de vous revoir
			prochainement. - Vincent</p>
	</div>
	<img src="{{'asset/img/rondbleu.png'}}" alt="Un rond bleu avec des lignes à l'intérieur" class="ronblounet">
	<div class="imagetorsader01">
		<img src="{{asset('asset/img/flechetorsader.png')}}" alt="Une flêche rouge avec une torsade">
		<div class="rdv rdv01">
			<h2 style="color:#172D4B; font-family:quicksand;">
				<b>Commencez votre transformation maintenant</b>
			</h2>
			<a href="{{ path('app_contact') }}">
				<button class="text-align" style="font-size:45px">1er rendez-vous gratuit !</button>
			</a>
		</div>
		<div class="espacenbas">
		<div style="height:250px;"></div>
		</div>
	</div>

{% endblock %}
