<!DOCTYPE html>

<html>
<html lang="fr">

    <head>
    <script src="/tarteaucitron/tarteaucitron.js-master/tarteaucitron.js"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", 
        "bodyPosition": "bottom", 
    	  "hashtag": "#tarteaucitron", 
    	  "cookieName": "tarteaucitron", 
    	  "orientation": "middle", 
        "groupServices": false, 
        "showDetailsOnClick": true, 
        "serviceDefaultState": "wait",               
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, 
          "closePopup": false, 
          "showIcon": false,
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomRight",
    	  "adblocker": false,        
          "DenyAllCta" : true, 
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
          "alwaysNeedConsent": false, /* Ask the consent for "Privacy by design" services */       
    	  "handleBrowserDNTRequest": false, 
    	  "removeCredit": false, 
    	  "moreInfoLink": true, /* Show more info link */
          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, 
    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
          "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
    
          //"customCloserId": "", /* Optional a11y: Custom element ID used to open the panel */
          
          "googleConsentMode": true, /* Enable Google Consent Mode v2 for Google ads and GA4 */
          
          "partnersList": false /* Show the number of partners on the popup/middle banner */
        });
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        
        <title>{% block title %}Sensations-coaching{% endblock %}</title>
        
        <meta name="description" content="Sensations-coaching ici pour aller toujours vers le meilleur !">
        <meta name="keywords" content="formations, développement personnel, coaching, performance, ateliers, séminaires, formation management, formation rh, formations ressources humaines, ebook gestion mentale, teambuilding">
        <meta name="author" content=" Flavie Carette de Sensations Coaching ">
        {% block head %}
         {% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="{{ asset('build/vendor.js') }}" defer></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
  

 <body>   
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <div class="container">
    <a class="navbar-brand me-3" href="{{ path('app_accueil') }}">
      <img src="{{ asset('asset/img/sensationlogo.png') }}" alt="logoSensation" width="200" height="65">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-3">
        <a href="{{ path('app_accueil') }}#boutoncliquable" style="text-decoration: none;">
          <p class="nav-link mb-0" >Le<b> Coaching</b> pour les :</p>
          </a>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b>Entreprises</b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item" href="{{ path('app_coaching_collectif') }}">Collectif</a></li>
            <li><a class="dropdown-item" href="{{ path('app_individuel') }}">Individuel</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <b> Sportifs</b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" href="{{ path('app_coaching_sportif') }}">Coaching Sportifs</a></li>
            <li><a class="dropdown-item" href="{{ path('app_coaching_sportif') }}#joueurhautniveau">Joueurs et athlètes</a></li>
            <li><a class="dropdown-item" href="{{ path('app_coaching_sportif') }}#entraineuretdirigeant">Entraîneurs</a></li>
            <li><a class="dropdown-item" href="{{ path('app_coaching_sportif') }}#arbitres">Arbitres</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="">
            Formations
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a class="dropdown-item" href="{{ path('app_vente_deformations') }}#ebook">Ebook</a></li>
            <li><a class="dropdown-item" href="{{ path('app_vente_deformations') }}#formationRH">Ressources humaines</a></li>
            <li><a class="dropdown-item" href="{{ path('app_vente_deformations') }}#FormationManagement">Management</a></li>
          </ul>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="{{ path('app_resumer_article') }}" role="button">Mes articles</a>
        </li>
            <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Qui-suis-je ?
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
             <li><a class="dropdown-item" href="{{ path('app_qui_suis_je') }}">Une coach au coeur du jeu</a></li>
            <li><a class="dropdown-item" href="{{ path('app_qui_suis_je') }}#monHistoire">Mon histoire</a></li>
            <li><a class="dropdown-item" href="{{ path('app_qui_suis_je') }}#pourQuoiMechoisir">Pourquoi me choisir ?</a></li>
            <li><a class="dropdown-item" href="{{ path('app_qui_suis_je') }}#parcoursetdentologie">Déontologie</a></li>
          </ul>
        </li>
        <li class="nav-item me-3" style="background-color: #1c6a8d; border-radius: 50px;">
           <a class="nav-link text-white" href="{{ path('app_contact') }}" role="button">Me contacter</a>
        </li>
    
        {% if app.user %}
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mon compte
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a class="dropdown-item" href="{{ path('app_accueil_compte') }}">Mon compte</a></li>
            <li><a class="dropdown-item" href="{{ path('app_cart') }}">Mon Panier</a></li>
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item me-3">
          <a class="btn" href="{{ path('app_login') }}">Connexion</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
        {% block body %}
        {% endblock %}
    
<footer class="footer" style="background-color: #FDEEE0; color: #000;color:#172D4B; font-family:quicksand;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-2 text-center">
        <div class=" mr-3">
          <img src="{{ asset('asset/img/sensationlogo.png') }}" alt="" width="200" height="65">
          <a href="https://www.linkedin.com/in/flaviecarette/"><img src="{{ asset('asset/img/linkedin.png') }}" alt="" width="40" height="40" style="margin-top: 10px;"></a>
        le bleu du site à favie  <a href="https://www.instagram.com/flavie.crt/"><img src="{{ asset('asset/img/instagram.png') }}" alt="" width="40" height="40" style="margin-top: 10px;"></a>
        </div>
      </div>
      <div class="col-md-4" style="margin-left: 50px;">
  <p style="font-weight: bold; margin-top: 30px; margin-bottom: 10px;">Mon offre :</p>
  <ul style="list-style-type: none; padding-left: 0;">
    <li><a class="nav-link active" aria-current="page" href="{{ path('app_coaching_collectif') }}" style="margin-bottom: 10px;">Coaching collectif</a></li>
    <li><a class="nav-link active" aria-current="page" href="{{ path('app_individuel') }}" style="margin-bottom: 10px;">Coaching individuel</a></li>
    <li><a class="nav-link active" aria-current="page" href="{{ path('app_coaching_sportif') }}" style="margin-bottom: 10px;">Coaching pour les sportifs de haut niveau</a></li>
    <li><a class="nav-link active" aria-current="page" href="{{path('app_vente_deformations')}}" style="margin-bottom: 10px;">Formations</a></li>
    <li><a class="nav-link active" aria-current="page" href="{{ path('app_qui_suis_je') }}" style="margin-bottom: 10px; font-weight: bold;">Qui suis-je ?</a></li>
    <li><a class="nav-link active" aria-current="page" href="{{ path('app_resumer_article') }}" style="margin-bottom: 10px; font-weight: bold;">Mes articles</a></li>
  </ul>
</div>
      <div class="col-md-4">
  <div style="text-align: center;">
  <p style="margin-top: 30px; font-weight: bold;">Me contacter</p>
  <p>En présentiel entre Annecy & Genève<br>
  En visio, dans toute la France & Suisse</p>
</div>

        <div class="calendrierEtTexte" style="margin-top: 20px;"> 
          <a href="{{ path('app_contact') }}" style="display: flex; align-items: center; text-decoration:none; color:#172D4B">
            <img src="{{ asset('asset/img/calendrier.png') }}" alt="" width="125px" height="75px" style="margin-top: 10px;">
      
          <p style="text-align: center;"><b>Réservez votre rendez-vous <br> gratuit dès maintenant</b></p>
              </a>
        </div>
        <button class="btn btn-custom" type="button" id="button-addon2" style="display: flex; align-items: center; font-size: 14px; height: 45px; width: 450px; border-radius: 20px; margin-top: 20px;"> <!-- Ajout de la marge en haut -->
          <input type="email" class="form-control" placeholder="Votre email" aria-label="Votre email" aria-describedby="button-addon2" style="font-size:15px; height:20px; padding: 12px;">
          <span style="margin-left: 7px; white-space: nowrap;">Je m'inscris à la newsletter</span>
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-12 text-center">
       <p class="mb-0">
    Copyright ©Sensations Coaching |<a href="{{path('app_mentions_legale')}}" style="color: black; text-decoration: none;"> Mentions Légales | 
    <a href="{{ path('app_c_g_v') }}" style="color: black; text-decoration: none;">CGV</a> | 
    <a href="https://www.linkedin.com/in/axel-carette-aa9060280/" style="color: black; text-decoration: none;">Réalisation Axel Carette</a>
</p>

    </div>
  </div>
</footer>
<script type="text/javascript">
        (tarteaucitron.job = tarteaucitron.job || []).push('gcmanalyticsstorage');
</script>
 <script type="text/javascript">
        (tarteaucitron.job = tarteaucitron.job || []).push('calendly');
        </script>
</body>
</html>
