{% extends 'base.html.twig' %}

{% block head %}
<meta name="description" content="Découvrez notre offre de coaching collectif pour cultivez un état d’esprit coopératif et engageant. Un accompagnement sur mesure et ludique pour atteindre vos objectifs de manière collaborative.">
<meta name="keywords" content="coaching collectif, coaching en groupe, coaching d’équipe, développement personnel, objectifs, performance, coopération, intelligence émotionnelle, systemie, voice dialogue, séminaires, séminaire entreprise, teambuilding">
<meta name="author" content=" Flavie Carette de Sensations Coaching ">
{% endblock %}

{% block title %}Coaching Collectif - Sensations Coaching{% endblock %}


{% block body %}
<style>
@media (max-width: 1600px) {
  .hautdepagecoachingdequipe {
  display:none;
}
.piedinversercontainer
{
  display:none;
}
.piedinverser
{
  display:none;
}
.flcphoto01{
  display:none;
}
.femmetriangle
{
  display:none;
}
.caffouillagedanslasurface
{
  width:100%
}
.caffouillagedanslasurface h2
{
 margin-top:50px;
}
.lestrucslide  {
margin:0;
margin-top:75px;
flex-direction: column;
    align-items: center; 
  }
.eveiller06
{
  display:none;
}
.eveiller05
{
  margin-left:-100px;
}
.eveiller05 p 
{
  width:50%
}
.Orchestrer05
{
  margin-left:-100px
}
.Orchestrer05 p
{
   width:50%
}
.liberer05 
{
  margin-left:-1800px
}
.BOOSTER05
{
  margin-left:-1700px
}
@media (max-width: 700px) {
  .deroulcoaching {
    flex-direction: column;
    max-width:50%;
    margin-left:50px
  }

  .zone01, .zone02 {
    flex-direction: column;
  }

  .card-flip {
    margin-bottom: 20px;
  }
}
}
@media (max-width: 1599px) {
    .lestrucslide {
        opacity: 1 !important; /* Assurez-vous que l'opacité est forcée à 1 */
        transform: none !important; /* Assurez-vous qu'il n'y a pas de transformation */
        margin-left:-100px;
    }
}
</style>
<script>
 AOS.init({
    disable: function() {
        return window.innerWidth < 1600;
    },
    startEvent: 'DOMContentLoaded',
    initClassName: 'aos-init', 
    animatedClassName: 'aos-animate', 
    useClassNames: true, 
    disableMutationObserver: false, 
    debounceDelay: 50, 
    throttleDelay: 99,
    offset: 120, 
    delay: 0, 
    duration: 400, 
    easing: 'ease',
    once: true,
    mirror: false, 
    anchorPlacement: 'top-bottom', 
});
</script>

<div class="hautdepagecoachingdequipe">
  <div class="backgroundcoachingdequipe">
    <img src="{{asset('asset/img/backgroundmontagne.png')}}" alt="Un fond représenté par des montagnes">
  </div>
  <div class="backgroundcoachingdequipe01">
    <img src="{{asset('asset/img/imagejo.png')}}" alt="Des personnes faisant une activité ensemble">
  </div>
  <div class="backgroundcoachingdequipe02">
    <img src="{{asset('asset/img/soleiljaune.png')}}" alt="Des taches jaune qui font penser à un rayon">
    <h1> Cultivez un état d’esprit coopératif et engageant</h1>
    <p>Managez le climat émotionnel et relationnel de<br> votre équipe </p>
  </div>
</div> 

<div class="caffouillagedanslasurface">
  <h2>Cafouillages dans la surface … </h2>
  <img src="{{asset('asset/img/pointbleu.png')}}" alt="Un point bleu foncé">
  <p style="color:#172D4B; font-family:quicksand;">Vous jonglez avec le <b>manque de temps</b>, tout en luttant contre vos propres réactions, votre <b>lucidité</b> se fragilise ?</p><br>
  
  <img src="{{asset('asset/img/pointorange.png')}}" alt="Un point orange">
  <p style="color:#172D4B; font-family:quicksand;">Vous vous sentez dans la <b>confusion</b> face au manque de <b>solidarité</b> et de coopération dans votre équipe ? </p><br>
  
  <img src="{{asset('asset/img/pointorangefoncer.png')}}" alt="Un point orange foncé">
  <p style="color:#172D4B; font-family:quicksand;">Votre projet stagne, vous ressentez de l’ <b>agacement</b> face au manque de <b>prise d’initiatives</b> de vos collaborateurs et à la perspective de l'échec de votre projet ?</p><br>
  
  <img src="{{asset('asset/img/pointbleuclair.png')}}" alt="Un point bleu clair">
  <p style="color:#172D4B; font-family:quicksand;">Vous êtes minés par les <b>tensions</b> et les doutes au sein de votre équipe, vous craignez de ne pas <b>être à la hauteur ?</b></p><br>
  
  <img src="{{asset('asset/img/pointorange.png')}}" alt="Un point orange clair">
  <p style="color:#172D4B; font-family:quicksand;">Les départs réguliers ne font qu'accentuer votre sentiment de <b>fatigue</b>, vous laissant avec un manque cruel d'énergie et de <b>vitalité</b> pour affronter vos journées ?</p><br>
</div>

<div class="caffouillagedanslasurface01">
  <h4 style="color:#172D4B; font-family:quicksand;"><b>Le plaisir, la créativité, l’audace et l’énergie viennent à 70% de l’état d’esprit.</b></h4>
  <img src="{{asset('asset/img/flechetorsader.png')}}" alt="flêche torsader rouge">
  <h3>Ensemble, propulsons votre équipe vers l'excellence en cultivant un état d’esprit positif et proactif.</h3>
</div>

<div class="lestrucslide row">
<div data-aos="fade-right" class="lestrucslide eveiller05">
    <img src="{{asset('asset/img/etoilepied.png')}}" alt="Des étoiles bleu sur un fond beige">
    <h2>Éveiller</h2>
    <h4>La balle est dans votre camp</h4>
    <p>
      Chaque décision, chaque action est influencée par vos émotions. En leur accordant une attention particulière, vous libérez votre intuition et créez un chemin vers le succès.
      <br><br>
      En conscientisant vos énergies corporelles et votre émotionnel, vous pourrez intégrer le changement désiré vers une croissance personnelle et professionnelle.
    </p>
  </div>

<div class="eveiller06">
  <img src="{{asset('asset/img/petitpoint.png')}}" alt="Des petits point jaune">
</div>

<div data-aos="fade-left" class="lestrucslide liberer05">
    <img src="{{asset('asset/img/tacheampoule.png')}}" alt="Des étoiles bleu sur un fond beige">
    <h2>Libérer</h2>
    <h4>Osez perdre la balle</h4>
    <p style="color:#172D4B; font-family:quicksand;">
      Plus l’équipe joue libérée, plus elle gagne !<br><br>
      Créons un environnement hors des sentiers battus, propice à l'innovation, en favorisant la liberté d'erreur, l’agilité et l'expression authentique des membres de l'équipe, garantissant ainsi une puissance collective.
    </p>
</div>

<div data-aos="fade-right" class="lestrucslide Orchestrer05">
    <img src="{{asset('asset/img/clapmain.png')}}" alt="Plusieurs main faisant un clap">
    <h2>ORCHESTRER</h2>
    <h4>Insufflez ce supplément d'âme</h4>
    <p style="color:#172D4B; font-family:quicksand;">En travaillant sur la vision commune et le sentiment de co-responsabilité, vous développerez la coopération et le sentiment d’appartenance, porteurs d’une énergie stimulante au sein de l'équipe.
      <br>
      Nous travaillons à vous redonner votre rôle de « capitaine » qui guide l'équipe à travers les défis avec assurance et engagement.
    </p>
</div>

<div data-aos="fade-left" class="lestrucslide BOOSTER05">
 
    <img src="{{asset('asset/img/ciblenuage.png')}}" alt="Plusieurs main faisant un clap">
    <h2>BOOSTER</h2>
    <h4>Allez droit au but</h4>
    <p style="color:#172D4B; font-family:quicksand;">En élaborant un plan d'actions concret, nous embarquons l'équipe dans une aventure orientée solutions, la propulsant ainsi vers le succès avec confiance et détermination.</p>
  </div>
</div>
</div>

<div class="carrequibougepourflavie">
  <img src="{{asset('asset/img/rondbleu.png')}}" alt="Un rond avec des lignes bleu">
  <div class="pieddepagequisuisje0105">
    <h3 style="color:#172D4B; font-family:quicksand;"><b>Quels sont vos enjeux ?</b></h3>
    <a href="{{ path('app_contact') }}">Parlez moi de votre équipe !</a>
    <h2>Déroulement d’un coaching d’équipe</h2>
  </div>
</div>

<div class="deroulcoaching">
  <div class="zone01">
    <div class="card-flip">
      <div class="card-front01 defisobjectifs01">
        <h2>Défis et objectifs</h2>
      </div>
      <div class="card-back01">
        <div class="defisobjectifs01">
          <p>Nous commençons par identifier les enjeux spécifiques de l'équipe en organisant une réunion préliminaire avec les principaux acteurs.<br><br>
            Cette étape permet de clarifier les attentes, les défis actuels et les objectifs à atteindre.<br><br>
            Nous établissons ensemble des objectifs précis et mesurables pour le coaching collectif, en alignant les attentes individuelles avec celles de l'organisation.
          </p>
        </div>
      </div>
    </div>
    <div class="card-flip">
      <div class="card-front01 coachingcollectif01">
        <h2>Coaching collectif</h2>
      </div>
      <div class="card-back01">
        <div class="coachingcollectif01">
          <p>Le coaching d'équipe se déroule sous la forme de journées ludiques, conçues sur-mesure en fonction des objectifs définis.<br><br>
            Les ateliers, les débriefs et le regard avisé de la coach visent à créer un environnement de travail positif et engageant.<br><br>
            Le lieu, le nombre de journées, les participants seront définis au préalable selon les enjeux et besoins.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="zone02">
    <div class="card-flip">
      <div class="card-front01 diagnostic01">
        <h2>Diagnostic</h2>
      </div>
      <div class="card-back01">
        <div class="diagnostic01">
          <p>Une phase de diagnostic est mise en place pour évaluer les dynamiques actuelles de l'équipe.<br><br>
            Cela peut inclure des entretiens individuels, des questionnaires et des observations en situation de travail.<br><br>
            Les entretiens permettent également de sensibiliser les membres de l'équipe à l'importance du processus de coaching et pour les engager activement dans le programme.
          </p>
        </div>
      </div>
    </div>
    <div class="card-flip">
      <div class="card-front01 bilanetsuivi01">
        <h2>Bilan et suivi</h2>
      </div>
      <div class="card-back01">
        <div class="bilanetsuivi01">
          <p>
            À la fin du séminaire, un bilan est réalisé pour évaluer l’impact du coaching et recueillir les feedbacks des participants.<br><br>
            Un plan de suivi est ensuite mis en place pour maintenir les acquis et continuer à soutenir l'équipe dans son développement.<br><br>
            Des séances de suivi régulières permettent de s'assurer que les améliorations sont durables et que l'équipe reste sur la voie de la réussite.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
 <div class="femmetriangle">
  <img src="{{asset('asset/img/femmeavecdestriangleetrond.png')}}" alt="Une femme sur la pointe des pieds avec des triangles et rond">
  <p style="color:#172D4B; font-family:quicksand; font-size:20px">Tout est une question d’équilibre, je vous propose un accompagnement alliant :</p>
  <ul>
    <li style="color:#172D4B; font-family:quicksand; font-size:20px">Approche ludique et cadre de travail exigeant</li>
    <li style="color:#172D4B; font-family:quicksand; font-size:20px">Confiance relationnelle et performance</li>
    <li style="color:#172D4B; font-family:quicksand; font-size:20px">Bienveillance et confrontation</li>
    <li style="color:#172D4B; font-family:quicksand; font-size:20px">Lâcher prise et détermination</li>
  </ul>
</div>

<div class="piedinverser">
  <h2 style="margin-top:25px; color:#172D4B; font-family:quicksand;" class="btn-rdv"><b>Alors prêt à vous propulser vers l’excellence ?</b></h2>
  <div class="piedinversercontainer">
    <img src="{{asset('asset/img/pied055.png')}}" alt="Une image qui ressemble un peu a un pied">
  </div>
  <a href="{{ path('app_contact') }}">Je réserve mon rdv offert</a>
</div>
</div>
<h1 style="text-align:center; margin-bottom:100px;">Pourquoi me choisir ?</h1>
<div class="flcphoto01">

  <img src="{{asset('asset/img/flaviedoigt.png')}}" alt="Flavie Carette coaching">
  <div class="text-container01">
    <p style="margin-top:25px; color:#172D4B; font-family:quicksand;" >Je suis Flavie Carette, coach professionnelle certifiée, ancienne joueuse de haut-niveau et arbitre de football. J’utilise mon expertise du sport collectif et mon intelligence émotionnelle pour accompagner les leaders en entreprise et dans le sport à œuvrer à un projet inédit et humain.</p>
    <a href="{{ path('app_qui_suis_je') }}">
      <button class="text-align; margin-lef:70px">En savoir +</button>
    </a>
  </div>
</div>
<div style="height:100px;"></div>

{% endblock %}
